/* css reset */

*{
    margin: 0;
    padding:0;
}

html {
    scroll-behavior: smooth;
}

/* css Variables */

:root{
    --navbar-height:59px;
}

/* navbar */

#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    bottom: 0;
}
#navbar::before {
    content:"";
    background-color: black;
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

/* Logo */

#logo {
    margin: 10px 34px;
}
#logo img {
    height: 50px;
    margin: 3px 6px;
}

/* list styling */

#navbar ul {
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
}

#navbar ul li {
    list-style: none;
    font-size: 17px;
}
#navbar ul li a {
    display: block;
    text-decoration: none;
    padding: 3px 22px;
    border-radius: 20px;
    color: white;
    margin: 10px;
}
#navbar ul li a:hover {
    color:black;
    background-color: white;
}

/* home */

#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 305px;
    align-items: center;
    justify-content: center;
}
#home::before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    background: url('../image/img1.jpg') no-repeat center center/cover;
    height: 400px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
#home h1 {
    color:white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
#home p {
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Bree Serif', serif;
}

/*Sevices section*/

#services{
    margin:34px;
    margin-block: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#services .box{
    border: 2px solid brown;
    width: 450px;
    background-color: #d7e3e3;
    text-align: center;
    margin: 0 30px 30px 30px;
    border-radius: 20px;
    padding: 10px;
}

#services .box img{
    height: 160px;
    width: 200px;
}
#services .box .scooty{
    margin-right: 20px;
}
#services .box p{
    font-family: 'Bree Serif', serif;
}

/* clients section */

#client-section{
    height: 280px;
    position: relative;
}
#client-section::before{
    content:"";
    position: absolute;
    background: url('../image/food3.jpg') no-repeat center center/cover;
    width: 100%;
    height: 280px;
    z-index: -1;
    opacity: 0.5;
}
#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item img{
    height: 100px;
    filter: brightness(50%);
}
.client-item {
    padding: 30px;
}

/* Contact Section */

#contact-section {
    position: relative;
}
#contact-section::before {
    content:"";
    position: absolute;
    height: 100%;
    width: 100%;
    background: url('../image/contact.jfif');
    z-index: -1;
    opacity: 0.6;
}
#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
    
}
#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.1rem;
}
#contact-box form {
    width: 40%;
}
#contact-box label {
    font-size: 1.3em;
    font-family: 'Bree Serif', serif;
}
#contact-section .btn-1 {
    display: flex;
    margin: auto;
    margin-top: 10px;
    font-size: 17px;
    padding: 6px 20px;
    border-radius: 10px;
    background-color: brown;
    border: 2px solid black;
    color: white;
    cursor: pointer;
}

/* footer section */

footer {
    background-color: black;
    color: white;
    padding: 15px;
}

/* Utility classes */

.h-primary {
    font-size: 35px;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}
.h-secondary {
    font-size: 22px;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}
.btn {
    margin: 17px;
    font-size: 17px;
    padding: 6px 20px;
    border-radius: 10px;
    background-color: brown;
    border: 2px solid white;
    color: white;
    cursor: pointer;
}
.center {
    text-align: center;
}